.card-mesa {
    background-color: white;
    padding: 0;
    max-width: 42rem;
    border-radius: 0.5rem;
}

.card-mesa-titulo-botoes {
    justify-content: space-between;
    width: 100%;
    padding: 0.6rem;
}

.card-mesa-image {
    width: 100%;
    height: 15rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-mesa-descricao {
    line-break: anywhere;
    padding: 0.6rem;
}